@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #3c6ae7;
  --primary-color-dark: #3248c2;
  --text-dark: #000000;
  --text-light: #68696b;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "DM Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  white-space: nowrap;
  background-color: var(--primary-color);
  color: var(--white);
  transition: 0.3s;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

.logo {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--white);
}

.logo span {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

img {
  display: flex;
  width: 100%;
}

.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section_header {
  font-family: var(--header-font);
  font-size: 3rem;
  font-weight: 800;
  line-height: 4rem;
  color: var(--text-dark);
}

.section_subheader {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-dark);
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}
header {
  display: grid;
  overflow: hidden;
}

/* NAVIGATION */

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

#nav_header {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

#nav_menu_btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

#nav_links {
  position: absolute;
  left: 0;
  top: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-color);
  transition: 0.3s;
  transform: translateY(-100%);
  z-index: -1;
}

#nav_links.open {
  transform: translateY(0);
}

#nav_links a {
  color: var(--white);
}

#nav_links .btn {
  background-color: var(--white);
  color: var(--text-dark);
}

/* HEADER */

#header_content {
  padding-block: 6rem 4rem;
  padding-inline: 1rem;
}

#header_content h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-family: var(--header-font);
  font-weight: 800;
  line-height: 4rem;
  color: var(--text-dark);
  text-align: center;
}

#header_content h1 span {
  font-size: 3rem;
  font-weight: 400;
}

#header_content p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--text-light);
}

#header_content #header_btns {
  display: flex;
  justify-content: center;
}

#header_image {
  position: relative;
  isolation: isolate;
}

#header_image::after {
  position: absolute;
  content: "";
  width: 100%;
  max-width: 550px;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("assets/header_bg.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: 0.7;
  z-index: -1;
}

#header_image img {
  max-width: 520px;
  margin-inline: auto;
}

.about_container {
  display: grid;
  gap: 2rem;
}

.about_container p {
  padding-block: 2rem 3rem;
  color: var(--text-light);
}

#process_grid {
  display: grid;
  gap: 1rem;
}

.process_card {
  padding: 1rem;
  border: 2px solid var(--extra-light);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.process__card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.process_card span {
  display: inline-block;
  font-size: 2rem;
  color: var(--text-dark);
  transition: 0.3s;
}

.process_card:hover span {
  color: var(--primary-color);
}

.process_card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.process_card p {
  color: var(--text-light);
}

.services_container .section_header {
  max-width: 750px;
}

#services_grid {
  margin-top: 4rem;
  display: grid;
  gap: 4rem;
}

#services_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#services_list li {
  position: relative;
  isolation: isolate;
  width: 100%;
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: var(--extra-light);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

#services_list li:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

#services_list li p {
  position: absolute;
  max-width: fit-content;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#services_content img {
  margin-block: 2rem;
  border-radius: 2rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
}

#services_content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.equipe_container {
  display: grid;
  gap: 2rem;
}

#equipe_content p {
  padding-block: 2rem 3rem;
  color: var(--text-light);
}

#equipe_grid {
  display: grid;
  gap: 1rem;
}

.equipe_card {
  padding: 1rem;
  border: 2px solid var(--extra-light);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.equipe__card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.equipe_card span {
  display: inline-block;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  color: var(--text-dark);
  transition: 0.3s;
}

.equipe_card:hover span {
  color: var(--primary-color);
}

.equipe_card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.equipe_card p {
  color: var(--text-light);
}

.tools_container {
  display: grid;
  gap: 2rem;
}

#tools {
  background-color: #e1e8e1;
  max-width: 100vw;
}

#tools_content .section_header {
  max-width: var(--max-width);
  margin-inline: auto;
}

.tools_container {
  max-width: 720px;
}

.tool_card {
  max-width: 300px;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.tool_row:nth-child(2n - 1) .tool_card {
  margin-left: auto;
}

.tool_card div {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.tool_card span {
  font-size: 1.5rem;
  color: var(--text-dark);
  transition: 0.3s;
}

.tool_card:hover span {
  color: var(--primary-color);
}
.tool_card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.tool_card p {
  color: var(--text-light);
}

.choice_container {
  display: grid;
  gap: 2rem;
}

.choice_card {
  position: relative;
  isolation: isolate;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.choice_card img {
  max-width: 600px;
  margin-inline: auto;
  border-radius: 1rem;
}

.choice_card h4 {
  position: absolute;
  top: 2rem;
  right: 2rem;
  max-width: 200px;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.choice_card .btn {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  background-color: var(--text-dark);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#contact {
  display: grid;
  gap: 1.2rem;
}
#contact h2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--text-dark);
}
#contact form {
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  margin: auto;
}

#contact input {
  width: 100%;
  outline: none;
  border: 1px solid var(--text-dark);
  padding: 1rem;
  font-size: 1rem;
  background-color: transparent;
  border-radius: 10px;
}

#contact .btn {
  background-color: var(--primary-color-dark);
  border-radius: 10px;
}

footer {
  background-color: var(--text-dark);
}

.footer_container {
  display: grid;
  gap: 4rem 2rem;
}

#footer_logo {
  margin-bottom: 2rem;
}

#footer_logo .logo {
  color: var(--white);
}

.footer_col h4 {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
}

.footer_links {
  display: grid;
  gap: 1rem;
}

.footer_links :is(li, a) {
  color: var(--text-light);
}

.footer_links a:hover {
  color: var(--white);
}

.footer_links a span {
  font-size: 1.2rem;
  margin-right: 10px;
}

.footer_col h2 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
}
.footer_col form {
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid var(--white);
  border-radius: 5px;
}

.footer_col input {
  padding-inline: 1rem;
  width: 100%;
  font-size: 1rem;
  outline: none;
  border: none;
  color: var(--white);
  background-color: transparent;
}

.footer_col .btn {
  background-color: var(--extra-light);
  color: var(--text-dark);
  border-radius: 2px;
}

.footer_bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
  border-top: 1px solid var(--text-light);
}

@media (width > 540px) {
  .choice_container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  #choice_content {
    grid-area: 1/1/1/3;
  }
  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width > 768px) {
  nav {
    position: static;
    padding-block: 2rem 0;
    padding-inline: 1rem;
    max-width: var(--max-width);
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  #nav_header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  #nav_logo a {
    color: var(--text-dark);
  }
  #nav_logo span {
    color: var(--primary-color);
  }
  #nav_menu_btn {
    display: none;
  }

  #nav_links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    transform: none;
  }
  #nav_links a {
    padding-block: 5px;
    color: var(--text-dark);
    border-bottom: 4px solid transparent;
  }

  #nav_links a:hover {
    border-color: var(--primary-color);
  }

  #nav_links .btn {
    background-color: var(--primary-color);
    color: var(--white);
  }
  #nav_links .btn:hover {
    background-color: var(--primary-color-dark);
  }

  header {
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    margin-block: 4rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
    justify-items: center;
  }

  #header_content :is(h1, p) {
    text-align: left;
  }
  #header_content #header_btns {
    justify-content: flex-start;
  }

  #about_content {
    grid-area: 1/1/1/3;
  }
  #process_content {
    grid-area: 2/1/2/2;
  }
  #process_grid {
    grid-area: 2/2/2/3;
    grid-template-columns: repeat(2, 1fr);
  }

  #services_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  #services_list {
    flex-direction: row;
  }

  #services_list li p {
    top: unset;
    bottom: 0;
    transform: translate(0, -1rem) rotate(-90deg);
    transform-origin: left;
  }

  #equipe_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
